<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- 注解扫描器 -->
	<context:component-scan base-package="cn.xinxing"/>
	
	<!-- 数据源：驱动+数据库连接  -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql:///gv"></property>
		<property name="username" value="root"></property>
		<property name="password" value="999"></property>
	</bean>
	
	<!-- sessionFactory：持久层框架配置，初始化框架、充当数据存储源的代理、并负责创建Session对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
	</bean>
	
	<!-- 持久层的事务管理器？ -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 通知配置？ -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes><!-- 以什么前缀来作为service层方法开启的传关装置  -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="query*" propagation="NEVER" read-only="true" />
			<tx:method name="get*" propagation="NEVER" read-only="true" />
			<tx:method name="select*" propagation="NEVER" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<!-- spring的切面配置？ -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* cn.xinxing.service..*.*(..))" />
	</aop:config>

	
</beans>